.App {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #E3E5DA;
}

.footer-bottom {
  background: #000;
  color: #fff;
}

.btn-menu {
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  padding: 3px 20px;
  font-weight: bold;
  border-radius: 0;
}

.btn-menu:hover {
  background: #EECCCD;
  color: #fff;
}

.title-footer {
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #EECCCD;
}
