.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}


.footer-bottom {
  background: #000;
  color: #fff;
}

.btn-menu {
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  padding: 3px 20px;
  font-weight: bold;
  border-radius: 0;
  font-family: 'Work Sans', sans-serif;

}

.btn-menu:hover {
  background: #EECCCD;
  color: #fff;
}

.title-footer {
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #EECCCD;
}

#root {
  height: 100%;
}

.menu {
  height: 13%;
}